.tabela {
     border: 1px solid rgb(0, 0, 0);
}
 
.cabecalho {
   text-align: center;
   font: 13px Arial, sans-serif;
   font-weight: bold;
   color: rgb(255, 255, 255);
   background: rgb(0, 0, 0);
}

.colNumero {
   text-align: center;
   font: 13px Arial, sans-serif;
   background: rgb(192, 192, 192);
   padding: 3px;
   width: 30px;
}

.colData {
   text-align: center;
   font: 13px Arial, sans-serif;
   background: rgb(128, 128, 128);
   padding: 3px;
   width: 100px;
}

.colDesc {
   font: 13px Arial, sans-serif;
   text-align: left;
   background: rgb(192, 192, 192);
   padding: 3px;
   width: 200px;
}

.colValor {
   text-align: right;
   font: 13px Arial, sans-serif;
   background: #808080;
   padding: 3px;
   width: 100px;
}

.colOp {
   font: 13px Arial, sans-serif;
   text-align: center;
   background: rgb(192, 192, 192);
   padding: 3px;
   width: 120px;
}

.smallInput {
	width: 85px;
}

.bigInput {
	width: 180px;
}

.formLabel {
	font: 13px Arial, sans-serif;
}

.message {
	font: 13px Arial, sans-serif;
	font-weight: bold;
	color: red;
}